/* ================================= Google fonts ========================================================== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

/* =============================================== Header starts ====================================================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.header-menu ul {
  display: flex;
  list-style: none;
}

.header-menu ul li {
  margin-left: 60px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}